.dropArea{
    z-index: 100;
    position: absolute;
    width:100%;
    height:100%;
    pointer-events: none;
    background-color: rgba(80, 163, 253, 0.6);
    display:flex;
    justify-content:center;
    align-items:center;
    .drop-text{
        font-size: 40px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: rgba(255,255,255,0.7);
    }
}