*{
	padding: 0;
	margin: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
 	user-select: none;
}

html,body{
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.content{
	position: absolute;
	width: 100%;
	height: 100%;
}

.hidden{
	display: none !important;
}
