.p-mainPage{
    position: absolute;
    width:100%;
    height:100%;
    img{
        position: absolute;
    }
    .btn{
        width:200px;
        height:200px;
        background-color: aquamarine;
    }
    group{
        position: absolute;
    }
    .block{
        position: absolute;
        z-index: 10000;
        border: 1px solid rgb(58, 127, 255);
        pointer-events: none;
    }
}